
body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top, #1e1e1e, #000) !important;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background-color: #0f0f0f !important;
}

.navbar-brand,
.nav-link {
    color: #eaeaea !important;
}

.nav-link:hover {
    color: limegreen !important;
}

/* Footer */
.footer {
    background-color: #0f0f0f;
    color: #aaa;
}

.home-container {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Title */
.home-container h1 {
    font-size: 3rem;
    letter-spacing: 4px;
}

.home-container button {
    height: 70px;
    width: 220px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
}